<div class="footer">
    <li class="footLinks"><a href="https://github.com/Salman-Ali05" target="_blank"><img src="images/githoub.gif"></a></li>
    <li class="footLinks"><a href="https://www.instagram.com/desi.sallu/?hl=fr" target="_blank"><img src="images/instagram.gif"></a></li>
    <li class="footLinks"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><img src="images/question-mark.gif"></a></li>
</div>
</body>

</html>