@font-face {
    font-family: 'manga';
    src: url('../fonts/Manga.otf');
}

body {
    font-family: manga;
    position: relative;
}

.container {
    width: 75%;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -5%);
}

.header {
    background-color: rgb(149, 17, 17);
}

#maintTitle {
    text-align: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.menuLi {
    background-color: rgb(105, 12, 12);
    text-align: center;
}


.menuLi a {
    text-decoration: none;
    color: white;
}

.mainContent {
    background-color: red;
}